div{
    width: 400px;
    height: 400px;
    background-color: lightblue;
    margin: 10px;
    border: solid 2px black;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}